<div class="container mx-auto p-4 rounded-md bg-white shadow-md min-h-[100vh]">
  <h1 class="text-2xl font-bold mb-4">
    {{ title }}
    <button (click)="testMethod()">Test</button>
    <button (click)="showSearchBar()">Show Search Bar</button>
  </h1>

  <!-- Tabs -->
  <div class="mb-4">
    <button
      (click)="setActiveTab('google')"
      [ngClass]="{
        'bg-blue-500 text-white': activeTab === 'google',
        'bg-gray-200 text-gray-700': activeTab !== 'google'
      }"
      class="px-4 py-2 rounded-md mr-2"
    >
      Google
    </button>
    <button
      (click)="setActiveTab('twitter')"
      [ngClass]="{
        'bg-blue-500 text-white': activeTab === 'twitter',
        'bg-gray-200 text-gray-700': activeTab !== 'twitter'
      }"
      class="px-4 py-2 rounded-md"
    >
      Twitter
    </button>
  </div>

  <!-- Vùng nhập thông tin tìm kiếm -->
  <div *ngIf="isShowSearchBar()" class="mb-4">
    <div class="container-body">
      <h2 class="text-lg font-semibold mb-2">Nhập thông tin tìm kiếm</h2>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Nhập từ khóa tìm kiếm..."
        class="border border-gray-300 rounded-md p-2 w-full mb-2"
      />
      <input
        type="number"
        [(ngModel)]="searchNum"
        placeholder="Số lượng kết quả"
        class="border border-gray-300 rounded-md p-2 w-full mb-2"
      />
      <button
        (click)="activeTab === 'google' ? onSearch() : onSearchTwitter()"
        [disabled]="isGoogleLoading() || isTwitterLoading()"
        class="bg-blue-500 text-white rounded-md px-4 py-2 btn"
      >
        Tìm kiếm
      </button>
    </div>
  </div>
  <div class="flex justify-content-center">
    <div
      *ngIf="
        (activeTab === 'google' && isGoogleLoading()) ||
        (activeTab === 'twitter' && isTwitterLoading())
      "
      class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
    >
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Loading...</span
      >
    </div>

    <!-- Vùng phân tích dữ liệu của AI -->
    <div *ngIf="isShowSearchResult()" class="w-2/3 mt-4 pr-4" #phanTich>
      <!-- Sử dụng w-2/3 để chiếm 2/3 chiều rộng -->
      <h2 class="text-xl font-semibold mb-2">Phân tích dữ liệu của AI</h2>
      <div class="mb-4 p-4 border border-gray-200 rounded-md">
        <h3 class="font-bold text-lg">Kết quả phân tích:</h3>
        <p
          [innerHTML]="
            activeTab === 'google'
              ? searchResults?.showText
              : twitterSearchResults?.showText
          "
        ></p>
        <!-- Hiển thị nội dung đã được chuyển đổi sang HTML -->
      </div>
    </div>

    <!-- Vùng danh sách tìm kiếm từ GeneralSearchResults -->
    <div *ngIf="isShowSearchResult()" class="w-1/3 mt-4" #danhSachTimKiem>
      <!-- Sử dụng w-1/3 để chiếm 1/3 chiều rộng -->
      <h2 class="text-xl font-semibold mb-2">Danh sách tìm kiếm:</h2>
      <div class="overflow-y-auto max-h-[100vh]">
        <ul>
          <li
            *ngFor="
              let result of activeTab === 'google'
                ? searchResults?.generalSearchResults
                : twitterSearchResults?.generalSearchResults
            "
            class="mb-4 p-4 border border-gray-200 rounded-md relative"
          >
            <h3 class="font-bold text-lg">{{ result.title }}</h3>
            <p class="text-gray-600">{{ result.description }}</p>
            <div class="relative group inline-block">
              <a
                [href]="result.url"
                (mouseenter)="onAnalysisLink(result.url)"
                class="text-blue-500 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                Xem thêm
              </a>

              <!-- Mục nội dung hiển thị khi hover vào link -->
              <div
                class="absolute bottom-full mb-2 w-48 border border-gray-300 rounded-md shadow-lg hidden group-hover:block z-10"
              >
                <p
                  class="text-gray-700 bg-white p-2"
                  [innerHTML]="
                    analysisLink?.analysisText ?? 'Hiện chưa thể phân tích'
                  "
                ></p>
              </div>
            </div>

            <div class="text-gray-500">
              Tác giả: {{ result.author || "Phổ biến" }}
            </div>
            <div class="text-gray-500">
              Ngày tạo: {{ result.createdAt || "N/A" }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
