/* Custom scrollbar for Firefox */
.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 #edf2f7;
}

/* Custom scrollbar for Webkit browsers */
.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #edf2f7;
  border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 10px;
  border: 2px solid #edf2f7;
}