<div class="flex items-center flex-col py-16 min-h-screen bg-light font-sans">
  <div class="container mx-auto p-4 sm:p-6 lg:p-8 space-y-6">
    <h1 class="text-4xl text-center font-extrabold text-dark mb-6">
      Chào mừng đến với
      <span class="text-5xl text-primary">May Ap</span>
    </h1>

    <div class="flex justify-center items-center">
      <div class="w-full flex justify-center space-x-4">
        <a
          [routerLink]="['/google-search']"
          routerLinkActive="router-link-active"
          class="px-6 py-3 bg-green-500 text-white rounded-lg text-lg font-semibold hover:bg-green-600 transition-all duration-300 ease-in-out shadow-lg transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
        >
          Tìm kiếm
        </a>
        <a
          [routerLink]="['/twitter-search']"
          routerLinkActive="router-link-active"
          class="px-6 py-3 bg-secondary-light text-white rounded-lg text-lg font-semibold cursor-not-allowed opacity-70"
          title="Page not available"
          disabled
          aria-disabled="true"
        >
          Search: Twitter
        </a>
      </div>
    </div>

    <p class="text-center group mt-4">
      <button
        [routerLink]="['/test']"
        routerLinkActive="router-link-active"
        class="invisible group-hover:visible px-6 py-3 bg-secondary-light text-secondary-dark rounded-lg text-lg font-semibold hover:bg-secondary transition-all duration-300 ease-in-out cursor-not-allowed opacity-70"
        title="Page not available"
        disabled
        aria-disabled="true"
      >
        Hidden Feature
      </button>
    </p>

    <div class="flex flex-col items-center gap-5 justify-center mt-8">
      <!-- @if (authService.getUserDetail()) {
      <h1 class="text-2xl">
        Bạn đã đăng nhập với tên
        <span class="font-bold bg-blue-600 text-white px-4 rounded-sm">
          {{ authService.getUserDetail()?.fullName }}
        </span>
      </h1>
      } @else {
      <h1 class="text-3xl">Bạn chưa đăng nhập</h1>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline"
        >
          Đăng nhập
        </button>
      </a>
      } -->
    </div>
  </div>
</div>
