<div class="container mx-auto p-4 space-y-6 g-3">
  <!-- Panel Quản lý Secret Token -->
  <app-secret-token-panel
    [isShowViewSettingToken]="isShowViewSettingToken"
    [listServices]="listServices"
    [listSecretDTOsMap]="listSecretDTOsMap"
    [listSelectSecretToken]="listSelectSecretToken"
    [secretTokenDTO]="secretTokenDTO"
    (toggleSettings)="isShowViewSettingToken = !isShowViewSettingToken"
    (createToken)="createSecretToken($event)"
  ></app-secret-token-panel>

  <!-- Khu vực Tìm kiếm và Kết quả -->
  <div class="flex flex-col md:flex-row gap-6">
    <!-- Form Tìm kiếm -->
    <app-search-form
      class="w-full md:w-1/4"
      [searchParameters]="searchParameters"
      (searchParametersChange)="searchParameters = $event"
      [startDate]="startDate"
      [endDate]="endDate"
      [today]="today"
      [dictionaryListSites]="dictionaryListSites"
      [listSitesSelected]="listSitesSelected"
      [newDomain]="newDomain"
      [isLoading]="isLoading()"
      (search)="onSearch()"
      (updateSites)="updateSelectedSites($event)"
      (addDomain)="addDomainToDictionary()"
    ></app-search-form>

    <!-- Kết quả và Lịch sử -->
    <div class="w-full md:w-3/4 space-y-6">
      <!-- Thông báo lỗi -->
      <div
        *ngIf="errorMessageResponse"
        class="text-red-500 font-semibold p-4 bg-red-50 rounded-md"
      >
        {{ errorMessageResponse }}
      </div>

      <!-- Kết quả tìm kiếm -->
      <app-search-results
        [searchResultsList]="searchResultsList"
        [selectedSite]="selectedSite"
        [searchResults]="searchResults"
        [isLoading]="isLoading()"
        [analysisLink]="analysisLink"
        [mainDataAnalysisLinkSocialVideo]="mainDataAnalysisLinkSocialVideo"
        [isShowModal]="isShowModal"
        [isLoadingDataForModal]="isLoadingDataForModal"
        (selectSite)="selectSite($event)"
        (analyzeLink)="onAnalysisLink($event)"
        (analyzeVideo)="analyzeVideoLink($event)"
      ></app-search-results>

      <button mat-raised-button color="primary" (click)="exportToExcel()">
        Xuất Excel kết quả tìm kiếm
      </button>

      <!-- Lịch sử tìm kiếm -->
      <app-search-history
        [showKeywordHistory]="showKeywordHistory"
        [keywordModels]="keywordModels"
        (toggleHistory)="toggleKeywordHistory(); onTakeKeywordGoogle()"
        (loadAnalysis)="loadOldAnalysis($event)"
      ></app-search-history>
    </div>
  </div>
</div>
